@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --titulo: #6247aa; 
  --paragrafo: #7251b5;
  --papeldeparede: #a06cd5;
  --corBox: #c19ee0;
  --navBar: #b185db;
  --link: #7e52a0;
  --fundo: #dec9e9;
  --botao: #c77dff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  background-color: var(--fundo);
}


.container {
  display: flex;
}

.left-div {
  width: 250px;
  background-color: var(--papeldeparede); 
  padding: 20px; 
  height: 100vh; 
  overflow-y: auto; 
}

.left-div h1{
  color: var(--titulo);
  font-size: 25px;
  text-align: center;
  
}

.left-div p{
  color: var(--paragrafo);
  font-size: 18px;
  text-align: left;
}


.main-content {
  flex:1 ;
}

.main-content h1 {
  font-size: 50px ;
  text-align: center;
  font-family: inherit;
  color: var(--titulo);
}

.main-content h2 {

  text-align: center;
  font-family: inherit;
  color: var(--paragrafo);
}

.boxes-container {
  display: flex;
  justify-content: space-around;
}

.box {
  flex: 1;
  background-color: var(--corBox);
  margin: 5px; 
  height: auto;
 
}

.box p {
  color: var(--paragrafo);
  text-align: center;
}

.box h1 {
  color: var(--titulo);
  text-align: center;
  font-size: 25px;
}

a{
  border: 1 solid black;
  border-radius: 7px;
  color: white;
  background-color: var(--link);
}

label{
  border-radius: 5px;
  color:var(--paragrafo);
}

input, textarea{
  background-color: #e0aaff;
}

button{
  background-color: var(--botao);
  border-radius: 5px;
  color: var(--paragrafo);
}

.container_contatos{
    width: 300px;
    height: auto;
    padding: 10px;
    border-radius: 15px;
    margin: 20px auto;
    margin-top: 100px;
    background-color: var(--corBox);
}

.container_contatos>h1{
  text-align: center;
  color: var(--titulo);
}

.container_luana{
  height: 200px;
  width: auto;
  background-color: #b197df;
  padding: 10px;
  margin-top: 50px;
  border-radius: 15px;
  margin: 150px;
  
}

.container_luana h1{
  text-align: center;
  color: var(--titulo);
}

.container_luana p{
  color: var(--paragrafo);
}

nav{
  background-color: var(--navBar);
}



nav li {
  display: inline;
  margin-right: 20px; 
}

footer{
  background-color: var(--navBar);
}


.notfound{
  padding: 10px;
  margin: 150px;
  margin-left: 200px;

}

.notfound h1{
  font-size: 50px;
  text-align: center;
}

.notfound p{
  text-align: center;
}